@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: #C6F8E5
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    filter: grayscale(0%);
}

h1 {
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
    font-size: 3rem;
    margin: 0;
}

h2 {
   font-family: "Gill Sans", sans-serif;
}

h3 {
    /* font-size: 1rem; */
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: "Gill Sans", sans-serif;
}

/* Menu */

.nav-menu {
    position: absolute;
    top: 20px;
    right: 16px;
    font-size: 24px;
    display: inline-block;
}

.nav-menu a:hover {
    color: green;
}

/* Form */
form {
    margin: 50px auto;
    width: 90%;
}

.form-item p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid #ffc305;
    justify-content: center;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid greenyellow;
    justify-content: center;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid green;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
    justify-content: center;
}

.form-item button:hover {
    border: 2px solid green;
    background-color: green;
    color: #FFF;
    justify-content: center;
} 

